/** ${functionName}权限标识 */
export enum ${BusinessName}Auth {
#if($api.list)
  /** ${functionName} | 列表 */
  LIST = 'FE:${authorityName}:${businessName}:list',
#end
#if($api.getInfo)
  /** ${functionName} | 详情 */
  SINGLE = 'FE:${authorityName}:${businessName}:single',
#end
#if($api.add)
  /** ${functionName} | 新增 */
  ADD = 'FE:${authorityName}:${businessName}:add',
#end
#if($api.edit)
  /** ${functionName} | 修改 */
  EDIT = 'FE:${authorityName}:${businessName}:edit',
#end
#if($api.editStatus)
  /** ${functionName} | 状态修改 */
  ES = 'FE:${authorityName}:${businessName}:es',
#end
#if($api.batchRemove)
  /** ${functionName} | 删除 */
  DEL = 'FE:${authorityName}:${businessName}:del',
#end
#if($api.import)
  /** ${functionName} | 导入 */
  IMPORT = 'FE:${authorityName}:${businessName}:import',
#end
#if($api.export)
  /** ${functionName} | 导出 */
  EXPORT = 'FE:${authorityName}:${businessName}:export',
#end
#if($api.cache)
  /** ${functionName} | 缓存刷新 */
  CACHE = 'FE:${authorityName}:${businessName}:cache',
#end
}
