#set($subLevel=$level + 1)
insert into sys_menu (id, parent_id, name, title, level, ancestors, path, frame_src, component, param_path, transition_name, ignore_route, is_cache, is_affix, is_disabled, frame_type, menu_type, hide_tab, hide_menu, hide_breadcrumb, hide_children, hide_path_for_children, dynamic_level, real_path, perms, icon, sort, remark, is_common, is_default, module_id, tenant_id)
values
           (${menuId0}, ${parentMenuId}, '${menuName0}', '${functionName}管理', ${level}, '${parentMenuAncestors}', '${businessName}', null, '${fePackageName}/${businessName}/index', null, null, 'N', 'N', 'N', 'N', '0', 'C', '0', '0', '0', '0', '0', 1, null, 'FE:${authorityName}:list, RD:${authorityName}:list', 'xy_organization', 1, '菜单:${moduleFunctionName}管理', '0', 'Y', ${parentModuleId}, 0),
#if($api.getInfo)
               (${menuId1}, ${menuId0}, '${menuName1}', '${functionName}详情', ${subLevel}, '${parentMenuAncestors},${menuId0}', '${businessName}Detail/:id', null, '${fePackageName}/${businessName}/Detail', null, null, 'N', 'Y', 'N', 'N', '0', 'X', '0', '1', '0', '0', '0', 5, null, 'FE:${authorityName}:single, RD:${authorityName}:single', null, 2, '详情:${moduleFunctionName}详情', '0', 'Y', ${parentModuleId}, 0),
#end
#if($api.add)
               (${menuId2}, ${menuId0}, '${menuName2}', '${functionName}新增', ${subLevel}, '${parentMenuAncestors},${menuId0}', null, null, null, null, null, 'N', 'N', 'N', 'N', '0', 'F', '0', '0', '0', '0', '0', 1, null, 'FE:${authorityName}:add, RD:${authorityName}:add', null, 3, '按钮:${moduleFunctionName}新增', '0', 'Y', ${parentModuleId}, 0),
#end
#if($api.edit)
               (${menuId3}, ${menuId0}, '${menuName3}', '${functionName}修改', ${subLevel}, '${parentMenuAncestors},${menuId0}', null, null, null, null, null, 'N', 'N', 'N', 'N', '0', 'F', '0', '0', '0', '0', '0', 1, null, 'FE:${authorityName}:edit, RD:${authorityName}:edit, RD:${authorityName}:single', null, 4, '按钮:${moduleFunctionName}修改', '0', 'Y', ${parentModuleId}, 0),
#end
#if($api.editStatus)
               (${menuId4}, ${menuId0}, '${menuName4}', '${functionName}修改状态', ${subLevel}, '${parentMenuAncestors},${menuId0}', null, null, null, null, null, 'N', 'N', 'N', 'N', '0', 'F', '0', '0', '0', '0', '0', 1, null, 'FE:${authorityName}:es, RD:${authorityName}:es', null, 5, '按钮:${moduleFunctionName}修改状态', '0', 'Y', ${parentModuleId}, 0),
#end
#if($api.batchRemove)
               (${menuId5}, ${menuId0}, '${menuName5}', '${functionName}删除', ${subLevel}, '${parentMenuAncestors},${menuId0}', null, null, null, null, null, 'N', 'N', 'N', 'N', '0', 'F', '0', '0', '0', '0', '0', 1, null, 'FE:${authorityName}:del, RD:${authorityName}:del', null, 6, '按钮:${moduleFunctionName}删除', '0', 'Y', ${parentModuleId}, 0),
#end
#if($api.import)
               (${menuId6}, ${menuId0}, '${menuName6}', '${functionName}导入', ${subLevel}, '${parentMenuAncestors},${menuId0}', null, null, null, null, null, 'N', 'N', 'N', 'N', '0', 'F', '0', '0', '0', '0', '0', 1, null, 'FE:${authorityName}:import, RD:${authorityName}:import', null, 7, '按钮:${moduleFunctionName}导入', '0', 'Y', ${parentModuleId}, 0),
#end
#if($api.export)
               (${menuId7}, ${menuId0}, '${menuName7}', '${functionName}导出', ${subLevel}, '${parentMenuAncestors},${menuId0}', null, null, null, null, null, 'N', 'N', 'N', 'N', '0', 'F', '0', '0', '0', '0', '0', 1, null, 'FE:${authorityName}:export, RD:${authorityName}:export', null, 8, '按钮:${moduleFunctionName}导出', '0', 'Y', ${parentModuleId}, 0),
#end
#if($api.cache)
               (${menuId8}, ${menuId0}, '${menuName8}', '${functionName}缓存', ${subLevel}, '${parentMenuAncestors},${menuId0}', null, null, null, null, null, 'N', 'N', 'N', 'N', '0', 'F', '0', '0', '0', '0', '0', 1, null, 'FE:${authorityName}:cache, RD:${authorityName}:cache', null, 9, '按钮:${moduleFunctionName}缓存刷新', '0', 'Y', ${parentModuleId}, 0);
#end