package ${rdPackageName}.domain.dto;

import ${rdPackageName}.domain.po.${ClassName}Po;
import lombok.Data;
import lombok.EqualsAndHashCode;

import java.io.Serial;

/**
 * ${moduleFunctionName} 数据传输对象
 *
 * @author ${author}
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${ClassName}Dto extends ${ClassName}Po {

    @Serial
    private static final long serialVersionUID = 1L;

}