package ${packageName}.controller.base;

#if($table.base)
#set($Entity="Base")
#elseif($table.tree)
#set($Entity="Tree")
#end
import com.xueyi.common.web.entity.controller.${Entity}Controller;
import ${packageName}.domain.dto.${ClassName}Dto;
import ${packageName}.domain.query.${ClassName}Query;
import ${packageName}.service.I${ClassName}Service;

/**
 * ${functionName}管理 | 通用 业务处理
 *
 * @author ${author}
 */
public class B${ClassName}Controller extends ${Entity}Controller<${ClassName}Query, ${ClassName}Dto, I${ClassName}Service> {

    /** 定义节点名称 */
    @Override
    protected String getNodeName() {
        return "${functionName}" ;
    }

}
