/** ${functionName}主页路由 */
export const ${BusinessName}IndexGo = '#if($parentMenuPath)${parentMenuPath}#end/${businessName}'

/** ${functionName}详情页路由 */
export const ${BusinessName}DetailGo = '#if($parentMenuPath)${parentMenuPath}#end/${businessName}Detail/'
