import { ${BusinessName}IM, ${BusinessName}LM, ${BusinessName}PM, ${BusinessName}PPM, ${BusinessName}LRM } from '/@/api/${frontModuleName}/model/${businessName}IM';

/** ${businessName} item info */
export type ${BusinessName}IF = ${BusinessName}IM;

/** ${businessName} list info */
export type ${BusinessName}LF = ${BusinessName}LM;

/** ${businessName} param info */
export type ${BusinessName}PF = ${BusinessName}PM;

/** ${businessName} page param info */
export type ${BusinessName}PPF = ${BusinessName}PPM;

/** ${businessName} list result info */
export type ${BusinessName}LRF = ${BusinessName}LRM;